@page
@model IdentityService.Pages.Register.Index
<div>
    <partial name="_ValidationSummary" />

    <div class="wrapper">
        <h2>Register</h2>

        <form asp-page="/Account/Register/Index">
            <input type="hidden" asp-for="Input.ReturnUrl" />

            <div class="input-box">
                <input placeholder="Nom d'utilisateur" asp-for="Input.Username" autofocus>
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </i>
            </div>

            <div class="input-box">
                <input placeholder="Email" asp-for="Input.Email">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                </i>
            </div>

            <div class="input-box">
                <input placeholder="Nom complet" asp-for="Input.FullName">
                 <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="mot de passe" asp-for="Input.Password" autocomplete="off">
                 <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                        </svg>
                    </i>
            </div>

            <div class="input-box">

                <select class="dropdown-select" asp-for="Input.rôle">
                    <option disabled selected hidden> Affecter un rôle</option>
                    <option value="Admin">Admin</option>
                    <option value="Enseignant">Enseignant</option>
                    <option value="Comptable">Comptable</option>
                    <option value="ResponsableAbscence">Responsable d'Abscence</option>
                </select>
            </div>

            <a class="pb-2 d-block" asp-page="../Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">
                Connectez-vous ici
            </a>

            <button class="btn btn-primary" name="Input.Button" value="register">Enregistrer</button>

        </form>
    </div>

    @if (Model.RegisterSuccess)
    {
        <div class="alert alert-success mt-2">
            <strong>Enregistré avec succès</strong> - Vous pouvez maintenant utiliser le compte
        </div>
    }
</div>
